<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact Us - Reach Out for Inquiries and Support</title>
    <meta
      name="description"
      content="inox is a Agency, Startup and SaaS template by tempload."
    />
    <meta
      name="keywords"
      content="inox, startup, saas, agency, development, html, template, tempload"
    />
    <meta name="author" content="tempload" />

    {{ template "css" }}
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div class="preloader-wrapper">
      <div class="loader"></div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    {{ template "header" }}
    <!-- ***** Header Area End ***** -->

    <section class="page">
      <!-- ***** Page Top Start ***** -->
      <div class="cover" data-image="/static/images/photos/contact/cover.jpg">
        <div class="cover-top">
          <div class="container">
            <div class="row">
              <div class="offset-lg-3 col-lg-6">
                <h1>CONTACT</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">Contact</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Page Top End ***** -->

      <!-- ***** Page Content Start ***** -->
      <div class="page-bottom padding-top-0">
        <!-- ***** Map Container Start ***** -->
        <div class="section map">
          <div class="item">
            <!-- ***** Google Maps Start ***** -->
            <div
              class="map-canvas"
              data-zoom="12"
              data-lat="-37.811085"
              data-lng="144.955631"
              data-type="roadmap"
              data-hue="#ffc400"
              data-title="inox"
              data-icon-path="assets/images/marker.png"
              data-content="455 West Orchard Street<br>Kings Mountain, NC 28086<br><br><a href='mailto:support@yourbrand.com'>support@yourbrand.com</a>"
            >
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.4303892880844!2d103.5788282749661!3d1.5113240984745142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da755bec0a3f6b%3A0x802a8361c5d3d911!2sCalvary%20Carpentry%20Sdn.%20Bhd.!5e0!3m2!1sen!2smy!4v1692018201925!5m2!1sen!2smy"
                width="100%"
                height="100%"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <!-- ***** Google Maps End ***** -->
          </div>
        </div>
        <!-- ***** Map Container End ***** -->

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="contact-item">
                      <div class="icon">
                        <i class="fa fa-location-arrow"></i>
                      </div>
                      <p>
                        Setia Eco Business Park<br />26, Jalan Laman Setia
                        7/6<br />Taman Laman Setia<br />81550 Gelang Patah<br />Johor,
                        Malaysia
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="contact-item">
                      <div class="icon">
                        <i class="fa fa-phone"></i>
                      </div>
                      <a href="tel:(60)16-7785788">(60) 16-7785788</a>
                      <!-- <a href="tel:(272)211-7370">(272) 211-7370</a> -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="contact-item">
                      <div class="icon">
                        <i class="fa fa-envelope"></i>
                      </div>
                      <a href="mailto:sales@calvarycarpentry.com"
                        >sales@calvarycarpentry.com</a
                      >
                      <a href="mailto:hello@calvarycarpentry.com"
                        >hello@calvarycarpentry.com</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="contact-bottom">
          <div class="container">
            <div class="row">
              <!-- ***** Contact Text Start ***** -->
              <div class="col-lg-4 col-md-6 col-sm-12">
                <h5 class="margin-bottom-30">Get in touch</h5>
                <div class="contact-text">
                  <p>
                    We're always here to listen, assist, and engage with you.
                    Whether you have inquiries about our services, suggestions
                    for improvement, or just want to say hello, we're eager to
                    hear from you. Our team is dedicated to providing timely and
                    helpful responses, so feel free to use the provided contact
                    form or reach out through the contact details listed below.
                    Your feedback drives us to continually enhance our offerings
                    and deliver a seamless experience for our community.
                  </p>
                </div>
              </div>
              <!-- ***** Contact Text End ***** -->

              <!-- ***** Contact Form Start ***** -->
              <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="contact-form">
                  <div class="row">
                    <div class="col-lg-12">
                      <input type="text" placeholder="Name, surname" />
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <input type="text" placeholder="Contact number" />
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <input type="text" placeholder="E-Mail" />
                    </div>
                    <div class="col-lg-12">
                      <textarea placeholder="Your message"></textarea>
                    </div>
                    <div class="col-lg-12">
                      <button class="dark-btn float-right" type="submit">
                        <span class="show-btn">SUBMIT</span>
                        <span class="hide-btn">SUBMIT</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ***** Contact Form End ***** -->
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Page Content End ***** -->
    </section>

    <!-- ***** Footer Start ***** -->
    {{ template "footer" }}
    <!-- ***** Footer End ***** -->

    {{ template "scripts" }}
  </body>
</html>
