<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Calvary Carpentry - Timber Decking Specialist | Timber Contractor Malaysia
    </title>
    <meta
      name="description"
      content="inox is a Agency, Startup and SaaS template by tempload."
    />
    <meta
      name="keywords"
      content="inox, startup, saas, agency, development, html, template, tempload"
    />
    <meta name="author" content="tempload" />

    {{ template "css" }}
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div class="preloader-wrapper">
      <div class="loader"></div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    {{ template "header" }}
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome">
      <div class="welcome-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="welcome-text">
                <h1>Luxury Faucets Collections</h1>
                <p>
                  Quisque ullamcorper volutpat dolor, sit amet egestas risus
                  elementum id. Duis luctus augue vestibulum sem.
                </p>
                <a class="dark-btn" href="/products">
                  <span class="show-btn">EXPLORE TIMBER</span>
                  <span class="hide-btn">EXPLORE TIMBER</span>
                </a>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="slider-position">&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="base">
            <div class="prev">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="next">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
          <div class="owl-carousel">
            <div class="item">
              <div class="img">
                <img src="/static/images/photos/welcome/1.jpg" alt="" />
              </div>
              <div class="text">
                <h5>Kitchen Units</h5>
                <p>Mauris sagittis feugiat dui vel varius.</p>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <img src="/static/images/photos/welcome/2.jpg" alt="" />
              </div>
              <div class="text">
                <h5>High Gloss Lacquer</h5>
                <p>Mauris sagittis feugiat dui vel varius.</p>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <img src="/static/images/photos/welcome/3.jpg" alt="" />
              </div>
              <div class="text">
                <h5>Veneer Kitchen</h5>
                <p>Mauris sagittis feugiat dui vel varius.</p>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <img src="/static/images/photos/welcome/4.jpg" alt="" />
              </div>
              <div class="text">
                <h5>Driftwood</h5>
                <p>Mauris sagittis feugiat dui vel varius.</p>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <img src="/static/images/photos/welcome/5.jpg" alt="" />
              </div>
              <div class="text">
                <h5>Sawn Oak</h5>
                <p>Mauris sagittis feugiat dui vel varius.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Home Parallax Area Start ***** -->
    <section class="half-parallax">
      <div class="parallax-image"></div>
      <div class="parallax-items">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="parallax-item">
                <i class="fa fa-hourglass-o"></i>
                <h5 class="feature-title">PLANNING</h5>
                <p>
                  Strategic roadmaps for success and effective goal realization.
                </p>
                <a class="dark-btn" href="gallery.html">
                  <span class="show-btn">READ MORE</span>
                  <span class="hide-btn">READ MORE</span>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="parallax-item">
                <i class="fa fa-connectdevelop"></i>
                <h5 class="feature-title">INTERIOR</h5>
                <p>
                  Crafting inspiring indoor spaces with innovative designs and
                  meticulous details.
                </p>
                <a class="dark-btn" href="gallery.html">
                  <span class="show-btn">READ MORE</span>
                  <span class="hide-btn">READ MORE</span>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="parallax-item">
                <i class="fa fa-flag-o"></i>
                <h5 class="feature-title">EXTERIOR</h5>
                <p>
                  Elevating outdoor aesthetics through expert architecture and
                  landscaping.
                </p>
                <a class="dark-btn" href="gallery.html">
                  <span class="show-btn">READ MORE</span>
                  <span class="hide-btn">READ MORE</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Home Parallax Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-120">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix"
          >
            <div class="left-heading">
              <h2 class="section-title dotted">About Us</h2>
            </div>
            <div class="left-text">
              <p class="dark">
                Avant-Garde woodworkers and visionaries forged from humble
                beginnings, Calvary is the timber expert for the next generation
                of property owners.
              </p>
              <p class="margin-bottom-40">
                Elevate spaces with premium timber flooring, exquisite ceilings,
                and innovative stairs. Unite beauty and function in every step.
              </p>
              <ul class="margin-bottom-40">
                <li>Parturient montes, nascetur.</li>
                <li>Ridiculus mus. Nunc et mauris.</li>
                <li>Quis urna fringilla dapibus a at mauris.</li>
              </ul>

              <div class="row page-gallery-wrapper">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <a
                    href="/static/images/photos/home/1.jpg"
                    class="page-gallery"
                  >
                    <img src="/static/images/photos/home/1.jpg" alt="" />
                  </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <a
                    href="/static/images/photos/home/2.jpg"
                    class="page-gallery"
                  >
                    <img src="/static/images/photos/home/2.jpg" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="offset-lg-1 col-lg-6 col-md-12 col-sm-12 align-self-center"
            data-scroll-reveal="enter right move 30px over 0.6s after 0.3s"
          >
            <img
              src="/static/images/photos/home/3.jpg"
              class="img-fluid float-right"
              alt="Title"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Product Start ***** -->
    <section class="section white">
      <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="center-heading">
              <h2 class="section-title">Our Products</h2>
            </div>
          </div>
          <div class="offset-lg-3 col-lg-6">
            <div class="center-text">
              <p>
                Donec vulputate urna sed rutrum venenatis. Cras consequat magna
                quis arcu elementum, quis congue risus.
              </p>
            </div>
          </div>
        </div>
        <!-- ***** Section Title End ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="project-grid">
              <div class="row">
                <!-- ***** Product Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img
                        src="/static/images/photos/home/product-1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="text">
                      <h3>TIMBER FLOORING</h3>
                      <p>
                        Infuse your indoors with the inviting warmth and natural
                        allure of timber.
                      </p>
                    </div>
                  </a>
                </div>
                <!-- ***** Product Item End ***** -->

                <!-- ***** Product Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img
                        src="/static/images/photos/home/product-2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="text">
                      <h3>WOOD FLOORING</h3>
                      <p>
                        Timeless elegance and enduring quality, bringing
                        nature's beauty indoors.
                      </p>
                    </div>
                  </a>
                </div>
                <!-- ***** Product Item End ***** -->

                <!-- ***** Product Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img
                        src="/static/images/photos/home/product-3.jpg"
                        alt=""
                      />
                    </div>
                    <div class="text">
                      <h3>TIMBER DECKING</h3>
                      <p>
                        Uniting durability and style, our composite decking
                        redefines outdoor living with modern aesthetics.
                      </p>
                    </div>
                  </a>
                </div>
                <!-- ***** Product Item End ***** -->

                <!-- ***** Product Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img
                        src="/static/images/photos/home/product-4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="text">
                      <h3>COMPOSITE DECKING</h3>
                      <p>
                        Craft an outdoor sanctuary, where the timeless appeal of
                        timber meets nature-inspired relaxation.
                      </p>
                    </div>
                  </a>
                </div>
                <!-- ***** Product Item End ***** -->

                <!-- ***** Product Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img
                        src="/static/images/photos/home/product-5.jpg"
                        alt=""
                      />
                    </div>
                    <div class="text">
                      <h3>ACCOYA</h3>
                      <p>
                        Craft an outdoor sanctuary, where the timeless appeal of
                        timber meets nature-inspired relaxation.
                      </p>
                    </div>
                  </a>
                </div>
                <!-- ***** Product Item End ***** -->

                <!-- ***** Product Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img
                        src="/static/images/photos/home/product-6.jpg"
                        alt=""
                      />
                    </div>
                    <div class="text">
                      <h3>MOSO</h3>
                      <p>
                        Redefine outdoor spaces with composite decking that
                        harmonizes durability and contemporary beauty.
                      </p>
                    </div>
                  </a>
                </div>
                <!-- ***** Product Item End ***** -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Product End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    <div class="parallax-counter">
      <div class="parallax-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="count-item">
                <strong>320</strong>
                <span>Active<br />Customer</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="count-item">
                <strong>60</strong>
                <span>Specialist<br />Staff</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="count-item">
                <strong>523</strong>
                <span>Complated<br />Project</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="count-item">
                <strong>32</strong>
                <span>Ongoing<br />Project</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Counter Parallax End ***** -->

    <!-- ***** Our Team Start ***** -->
    <section class="section">
      <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="center-heading">
              <h2 class="section-title">Our Dedicated Timber Flooring Team</h2>
            </div>
          </div>
          <div class="offset-lg-3 col-lg-6">
            <div class="center-text">
              <p>
                Meet our skilled artisans dedicated to crafting exquisite timber
                floors, infusing every space with enduring elegance and natural
                charm.
              </p>
            </div>
          </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
          <!-- ***** Team Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-12 position-relative">
            <div class="person-item">
              <div class="img">
                <img src="/static/images/photos/team/1.jpg" alt="" />
              </div>
              <div class="content">
                <div class="text">
                  <h5 class="user-name">Kyosti</h5>
                  <span>BUSINESS DEVELOPMENT</span>
                  <ul class="social">
                    <li>
                      <a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                    <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                    <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                    <!-- <li><a href="#"><i class="fa fa-github"></i></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Team Item End ***** -->

          <!-- ***** Team Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-12 position-relative">
            <div class="person-item active">
              <div class="img">
                <img src="/static/images/photos/team/2.jpg" alt="" />
              </div>
              <div class="content">
                <div class="text">
                  <h5 class="user-name">Tan Sin Chuan</h5>
                  <span>OPERATION DIRECTOR</span>
                  <ul class="social">
                    <li>
                      <a href="https://youtu.be/xpVh__FMt18">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Team Item End ***** -->

          <!-- ***** Team Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-12 position-relative">
            <div class="person-item">
              <div class="img">
                <img src="/static/images/photos/team/3.jpg" alt="" />
              </div>
              <div class="content">
                <div class="text">
                  <h5 class="user-name">Uncle Ho</h5>
                  <span>WOOD PROFILER</span>
                  <ul class="social">
                    <li>
                      <a href="https://youtu.be/5n321uCH400">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Team Item End ***** -->
        </div>
      </div>
    </section>
    <!-- ***** Our Team End ***** -->

    <!-- ***** Footer Start ***** -->
    {{ template "footer" }}
    <!-- ***** Footer End ***** -->

    {{ template "scripts" }}
  </body>
</html>
