<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>inox - Kitchen & Interior Design Template</title>
  <meta name="description" content="inox is a Agency, Startup and SaaS template by tempload." />
  <meta name="keywords" content="inox, startup, saas, agency, development, html, template, tempload" />
  <meta name="author" content="tempload" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/static/images/favicon/favicon.png" />

  <!-- Bootstrap & Plugins CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom CSS -->
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div class="preloader-wrapper">
    <div class="loader"></div>
  </div>
  <!-- ***** Preloader End ***** -->


  <!-- ***** Header Area Start ***** -->
  {{ template "header" }}
  <!-- ***** Header Area End ***** -->


  <section class="page">
    <!-- ***** Page Top Start ***** -->
    <div class="cover" data-image="/static/images/photos/cover.jpg">
      <div class="cover-top">
        <div class="container">
          <div class="row">
            <div class="offset-lg-3 col-lg-6">
              <h1>Projects</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Projects</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Page Top End ***** -->

    <!-- ***** Page Content Start ***** -->
    <div class="page-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="project-grid">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/1.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>MODERN KITCHENS</h3>
                      <p>Proin luctus odio et purus iaculis, et porta ex molestie. Curabitur euismod nulla enim.</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/2.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>MODERN BATHROOM</h3>
                      <p>Curabitur nec imperdiet elit. Ut non erat imperdiet, condi men tum turpis nec, sceleris que.
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/3.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>DECORATIVE CHAIR</h3>
                      <p>Aliquam at eros vitae elit vulputate venenatis sed id augue. Nuncmi nisl, pulvinar.</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/4.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>ROOMS CABINETRY</h3>
                      <p>Nam mollis est diam, non viverra nisi porta eget. Morbi interdum in elit et sodales.</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/5.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>MODERN ROOMS</h3>
                      <p>Fusce at pellentesque risus. Phasellus massa odio, mattis in imperdiet quis, rutrum in.</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/6.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>MINIMAL OFFICES</h3>
                      <p>Proin luctus odio et purus iaculis, et porta ex molestie. Curabitur euismod nulla enim.</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/7.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>MODERN KITCHENS</h3>
                      <p>Cras pulvinar fermentum elit, at mollis justo eleifend quis. Vivamus felis ipsum.</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/8.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>WORKING PLACES</h3>
                      <p>Vestibulum pulvinar nunc scelerisque nisl elementum porttitor. Donec tincidunt.</p>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <a href="project-single.html" class="project-grid-item">
                    <div class="img">
                      <img src="/static/images/photos/project/9.jpg" alt="">
                    </div>
                    <div class="text">
                      <h3>MODERN BEDROOMS</h3>
                      <p>Mauris elementum dui eget urna sagittis, eu rutrum purus dapibus. Fusce dictum.</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Page Content End ***** -->
  </section>


  <!-- ***** Footer Start ***** -->
  {{ template "footer" }}
  <!-- ***** Footer End ***** -->

  {{ template "scripts" }}

</body>

</html>
