{{ define "css" }}
<!-- Favicon -->
<link rel="icon" type="image/png" href="/static/images/favicon/favicon.png" />

<!-- Bootstrap & Plugins CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
{{ end }}
