{{ define "header" }}
<!-- ***** Header Area Start ***** -->
<header class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <img src="/static/images/logo.png" alt="Calvary Carpentry Sdn Bhd" />
          </a>
          <!-- ***** Logo End ***** -->


          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li class="submenu">
              <a href="javascript:;">Products</a>
              <ul>
                <li><a href="project-grid.html">Timber Flooring</a></li>
                <li><a href="project-list.html">Wood Flooring</a></li>
                <li><a href="project-single.html">Timber Decking</a></li>
                <li><a href="project-single.html">Composite Decking</a></li>
                <li><a href="project-single.html">Accoya</a></li>
                <li><a href="project-single.html">Mosso</a></li>
              </ul>
            </li>
            <li><a class="contact-btn" href="/contact">Contact</a></li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
{{ end }}
