{{ define "scripts" }}
<!-- jQuery -->
<script src="/static/js/jquery-3.6.0.min.js"></script>

<!-- Bootstrap -->
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/static/js/scrollreveal.min.js"></script>
<script src="/static/js/parallax.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/imgfix.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>

<!-- Global Init -->
<script src="/static/js/custom.js"></script>
{{ end }}
